<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7zip.install" />
  <package id="adobereader" />
  <package id="bitwarden-cli" />
  <package id="choco-upgrade-all-at-startup" />
  <package id="chocolatey" />
  <package id="chocolatey-compatibility.extension" />
  <package id="chocolatey-core.extension" />
  <package id="chocolatey-windowsupdate.extension" />
  <package id="discord" />
  <package id="dotnet-6.0-runtime" />
  <package id="firefox" />
  <package id="git.install" />
  <package id="googledrive" />
  <package id="microsoft-windows-terminal" />
  <package id="neovim" />
  <package id="nodejs" />
  <package id="nodejs.install" />
  <package id="nvidia-display-driver" />
  <package id="obs-studio" />
  <package id="powershell-core" />
  <package id="powertoys" />
  <package id="python3" />
  <!-- <package id="spotify" /> -->
  <package id="telegram" />
  <package id="terraform" />
  <package id="treesizefree" />
  <package id="vcredist140" />
  <package id="vcredist2010" />
  <package id="vcredist2015" />
  <package id="vlc" />
  <package id="vscode" />
  <package id="youtube-dl" />
  
</packages>
